* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #1c1c25;
    color: #fcfcfc;
    font-family: "Inconsolata";
}

.section::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 28%;
    left: -20%;
    padding: 18%;
    background: linear-gradient(#e84170, #1f1f1f);
}

.section::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 23%;
    right: 25%;
    padding: 8%;
    background: linear-gradient(#e84170, #1f1f1f);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -30%;
    right: -30%;
    border-radius: 50%;
    padding: 18rem;
    background: linear-gradient(#e84170, #1f1f1f);
}

.container::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    padding: 8rem;
    background: linear-gradient(#e84170, #1f1f1f);
    top: -10%;
    left: 15%;
}

.card {
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
    z-index: 888;
    .face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(15px);
        transform-style: preserve-3d;
        transition: 0.5s ease;
        border: 3px solid transparent;
        background-clip: padding-box;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

/*Front*/

.card .face.front::before {
    content: "";
    position: absolute;
    background-color: white;
    padding: 1.6rem;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    opacity: 0.5;
}

.card .face.front::after {
    content: "";
    position: absolute;
    background-color: white;
    padding: 1.6rem;
    bottom: 2rem;
    right: 4.2rem;
    border-radius: 50%;
    opacity: 0.7;
}

.front {
    .logo {
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 3rem;
    }

    .chip {
        max-width: 3rem;
        position: absolute;
        top: 4rem;
        left: 2rem;
        filter: saturate(0) invert(100%);
    }

    .number {
        position: absolute;
        font-size: 2rem;
        top: 9rem;
        left: 2rem;
        letter-spacing: 4px;
        word-spacing:1.2rem;
    }

    .expire {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        top: 13rem;
        line-height: 0.8rem;
        left: 2rem;
        letter-spacing: 3px;
    }

    .expire span:last-child {
        margin-left: 1rem;
        font-size: 1rem;
    }

    .cardholder {
        position: absolute;
        font-size: 1.2rem;
        bottom: 2rem;
        letter-spacing: 4px;
        left: 2rem;
    }
}

/*Back*/

.back {
    .blackbar {
        position: absolute;
        width: 100%;
        height: 4rem;
        top: 2rem;
        background-color: black;
    }

    .signbar {
        position: absolute;
        width: 80%;
        height: 3rem;
        top: 7rem;
        left: 2rem;
        background-color: #fcfcfc;
        .secu-number {
            position: absolute;
            color: black;
            top: 1rem;
            right: 1rem;
            font-size: 18px;
            transform: skewX(10deg);
        }
    }

    .cctext {
        position: absolute;
        left: 2rem;
        top: 11rem;
    }

    .credit-info {
        position: absolute;
        top: 13rem;
        font-size: 10px;
        margin: 0 3rem 0 2rem;
    }
}

/*Effect*/


.card .face.back {
    transform: rotateY(180deg);
}

.card:hover .face.front {
    transform: rotateY(180deg);
}

.card:hover .face.back {
    transform: rotateY(360deg);
}

@media screen and (max-width: 500px){
    .card{
        transform: scale(0.9);
    }

    .number {
        word-spacing:1rem;
    }
}